body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding-top: 150px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.recipe-card {
    background: #000;
    color: #fff;
    border-radius: 10px;
    padding: 15px;
    overflow: hidden;
    height: 300px;
    width: 340px; /* 카드의 최소 세로 길이를 300px로 설정 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recipe-image {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0; /* 이미지 상단에 라운드 코너 */
}

/* 파일 경로: public/styles.css */
.category-bar {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin: 20px auto;
}
.category-bar button {
    padding: 10px 20px;
    cursor: pointer;
}

.category-button:hover {
    background-color: #76c276; /* 호버 시 보다 진한 연두색으로 변경 */
}

.subcategory-bar {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

/* 버튼 스타일 */
.subcategory-bar button {
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.subcategory-bar button:hover {
    background-color: #0056b3;
}

/* 버튼이 활성화된 상태(현재 선택된 카테고리)를 표시하는 스타일 */
.subcategory-bar button.active {
    background-color: #ffc107;
    color: black;
}

h2 {
    font-size: 1.5rem;
    margin: 10px 0 5px; /* 제목과 내용 사이 간격 조절 */
}

p {
    font-size: 0.9rem;
    opacity: 0.7;
    margin-bottom: 0; /* 마지막 마진 제거 */
}
