header{
    z-index: 10000;
}

.container{
    display: flex;
    justify-content: center;
    position: relative;
}

.editpwd-page {
    text-align: center;
    font-size: 25px;
    margin-top: 40px;
    font-weight: normal;
    font-family: 'Abhaya Libre ExtraBold', sans-serif;
}

.input-container{
    display: flex;
    justify-content: center;
}

.form-control {
    width: 575px;
    height: 40px;
    margin-top: 40px;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Inter', sans-serif;
    color: #9D9D9D;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #9D9D9D;
}

.buttonbox{
    display: flex;
    justify-content: center;
}

.btn-block {
    background-color: #ADBC9F;
    border: 1px solid #ADBC9F; /* 테두리와 테두리 색상을 올바르게 지정 */
    border-radius: 8px; /* 테두리 반경을 지정 */
    width: 575px;
    height: 60px;
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 60px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer; /* 커서가 버튼 모양으로 변경 */
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
}