header{
    z-index: 10000;
}

.container{
    display: flex;
    justify-content: center;
    position: relative;
}

.incontainer{
    display: flex;
    justify-content: center;
    gap: 10px; /* 요소들 간의 간격을 54px로 설정 */
    margin-top: 30px;
}

.inincontainer{
    margin-bottom: 100px;
}

.mypage-main{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Amatic SC';
    margin-top: 43px !important; 
}

.menu-bar{
    width: 183px;
}

.menu-bar-option{
    font-size: 16px;
    font-weight: normal;
    font-family: 'Inter', sans-serif;
    color: #6A6A6A;
    margin-top: 10px;
}

hr.custom-hr{
    width: 183px;
    margin-top: 10px;
    margin-left:0px;
}

.myprofile {
    width: 183px;
    height: 283px;
    border-radius: 10%;
    border: 2px solid #ADBC9F; /* 테두리 두께, 스타일, 색상 */
    background-color: white;
    margin-top: 60px;
    margin-bottom: 183px;
}

.profileimage img {
    width: 138px;
    height: 138px;
    border-radius: 100px;
    margin-top: 20px;
    margin-left: 22px;
}

.Nickname{
    margin-top: 14px;
    margin-left: 53px;
    font-size: 25px;
    font-family: 'Binngrae';
    font-weight: bold;
}

.buttonbox{
    width: 80px;
    height: 19px;
    margin-top: 13px;
    margin-left: 55px;
    background-color: white;
}

.mainbox{
    width: 700px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-left: 30px;
}

.mypost {
    width: 200px;
    height: 260px;
    border-radius: 10%;
    border: 1px solid black; /* 테두리 추가 */
    font-weight: normal;
    font-family: 'Acron';
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 5px; /* 텍스트와 하단 경계 사이에 여유 공간을 추가 */
    text-align: center; /* 중앙 정렬 */
}

.mypost h2 {
    margin: 0; /* 기본 여백 제거 */
    text-align: center; /* 중앙 정렬 */
    width: 100%; /* 부모 요소의 너비만큼 차지 */
    margin-bottom: 10px; /* 아래쪽 여백 추가 */
}

.mypost p {
    font-size: 13px;
    text-align: left; /* 왼쪽 정렬 */
    width: 100%; /* 부모 요소의 너비만큼 차지 */
    margin: 0; /* 기본 여백 제거 */
    padding-left: 10px; /* 왼쪽 여백 추가 */
    margin-bottom: 5px; /* 아래쪽 여백 추가 */
    margin-top: 8px;
}

.img {
    width: 130px;
    height: 110px;
    margin-top: 10px;
}

.popup-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* 40% 투명도 검은색 배경 */
    z-index: 1000;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 730px;
    height: 480px;
    margin-top: -180px; /* 팝업 높이의 절반 */
    margin-left: -365px; /* 팝업 너비의 절반 */
    background: white;
    border-radius: 10px;
    padding: 20px;
    z-index: 1001;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.popup2 {
    margin-left: 20%;
    padding-top: 10px;
    display: none;
    position: fixed;
    width: 300px;
    height: 80px;
    background: white;
    border-radius: 10px;
    z-index: 1001;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

#pp{
    padding-left: 60px;
    padding-bottom: 16px;
}
.popup h2 {
    margin-top: 0;
}

.input-container, .input-container-three {
    margin-bottom: 10px;
}

.form-control, .form-control2 {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-container-three {
    display: flex;
    justify-content: space-between;
}

.form-control2 {
    width: calc(32% - 10px);
}

.popup button {
    margin-right: 10px;
}

/* #popupButton{
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 85px;
    height: 35px;
} */

.sr-only{

}

.profileimage2{
    margin-top: 30px;
    margin-left: 290px;
    width: 138px;
    height: 138px;
    border-radius: 100px;
    background-color: aquamarine;
    margin-bottom: 30px;
}

.profileimage2 img {
    width: 100%; /* 이미지를 부모 요소의 너비에 맞게 조정 */
    height: auto; 
    border-radius: 100px; 
}
