body {
    font-family: 'ABeeZee', sans-serif;
}
.createFundingSearchBar {
    text-align: center; /* 텍스트 가운데 정렬 */
    width: 1044px;
    height: 108px;
    background-color: #E3CAA5;
    margin: 0 auto;
    margin-top: 226px;

    display: flex; /* Flexbox 활성화 */
    justify-content: center; /* 가로 방향 가운데 정렬 */
    align-items: center; /* 세로 방향 가운데 정렬 */
}

.search_box {
    display: flex; /* Flexbox로 내부 요소 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    gap: 10px; /* 요소 간 간격 */
}

.searchBar{
    border: 2px solid #E3CAA5;
}

.product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.product {
    width: 400px;
    height: 320px;
    background-color: #ccc;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.funding-search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #AFAFAF;
    font-size: 16px;
    line-height: 40px;
    width: 200px;
    padding-left: 40px;
    font-weight: 600;
    border-color: #E3CAA5;
}
.funding-search-btn{
    color: #AFAFAF;
    float: right;
    width: 50px;
    height: 100%;
    border-radius: 50%;
    background-color: white;
    border: none;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
}
.searchLabel {
    font-weight: bold;
    font-size: 16px;
    color: black;
    padding: 20px;
    display: inline-block;
}

.funding-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.funding-button:hover {
    background-color: #12373A;
    color: #ADBC9F;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}
