header {
    z-index: 1000;
}

a {
    color: #12373A;
    text-decoration: none; /* 링크 밑줄 없애기 */
}

body {
    color: #12373A;
    font-family: 'ABeeZee', sans-serif;
}
#container{
    display: flex;
    justify-content: center;
    position: relative;
}

/* 수정부분 - 전체박스 */
.information-box {
    height: 590px;
    width: 800px;
    background-color: #FFFBE9;
    border-color: #E3CAA5; 
    border-width: 4px;
    border-style: solid;
    margin: auto;
    margin-top: 90px;
    border-radius: 70px;
    margin-bottom: 90px;
    /* position: relative; */
}

/* 수정부분-말풍선 */
.complete {
    height: 77px;
    width: 374px;
    margin: 0 auto;
    margin-top: 43px;
    background-color: #E3CAA5;
    border-radius: 20px;
    font-size: 33px;
    font-weight: bold;
    text-align: center; /* 가로 정렬 */
    display: flex; /* Flexbox 활성화 */
    justify-content: center; /* Flexbox로 가로 중앙 정렬 */
    align-items: center; /* Flexbox로 세로 중앙 정렬 */
}

/* 수정부분 - 강조효과 */
.highlight {
    background-color: #E3CAA5; 
    padding: 2px 5px; /* 텍스트 주변 여백 */
    border-radius: 20px;
}

/* 수정부분 - 이미지 달걀로 수정 */
.img-box {
    /* position: absolute; */
    margin-top: 50px;
    background-color: #FFFBE9;
    height: 200px;
    width: 200px;
    margin: 0 auto;
    border-radius: 100%;
    /* text-align: center; */
}

.img {
    height: 200px;
    width: 200px;
    background-color: transparent;
}

.message {
    /* position: absolute; */
    /* margin-top: 360px; */
    /* background-color: rgb(107, 25, 104); */
    margin: auto;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    /* text-align: center; */
}

/* 수정부분 - 명수 강조 */
/* .highlight_num {
    text-decoration-line: underline;
	text-decoration-color: #E3CAA5;
    text-decoration-thickness: 35px;
    border-radius: 20px;
} */

.num{
    background-color: #E3CAA5;
}

.distribution {
    font-size: 18px;
    font-weight: 550;
    margin: 0 auto;
    /* position: absolute;
    margin-left: 195px; */
    text-align: center;
}

.button {
    height: 52px;
    width: 98px;
    margin-left: 650px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: #FFFBE9;
    border-color: #6C6058;  /* 테두리 색상 */
    border-width: 4px;
    border-radius: 50px;
    text-align: center;
    border-style: solid;  /* 테두리 스타일 설정 */
    text-align: center; /* 가로 정렬 */
    display: flex; /* Flexbox 활성화 */
    justify-content: center; /* Flexbox로 가로 중앙 정렬 */
    align-items: center; /* Flexbox로 세로 중앙 정렬 */
}
