header {
    z-index: 1000;
}

a {
    color: #12373A;
    text-decoration: none; /* 링크 밑줄 없애기 */
}

#container{
    display: flex;
    justify-content: center;
    position: relative;
}

body {
    color: #12373A;
}

.funding-box {
    /* position: relative; */
    height: 500px;
    width: 1000px;
    /* background-color: beige; */
    margin: auto;
    margin-top: 90px;
    display: flex;
}

#select {
    height: 50px;
    /* width: 700px; */
    font-size: 25px;
    margin-top: 10px;
    margin-left: 90px;
    /* background-color: aquamarine; */
    /* text-align: center; */
    position: absolute;
}

.information-box {
    position: absolute;
    /* background-color: bisque; */
    display: flex;
    margin-left: 90px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.img-box {
    height: 270px;
    width: 270px;
    /* background-color: aqua; */
    border: 4px solid #12372A;
    margin-left: 10px;
    display: grid;
    place-items: center;
}

.img {
    height: 270px;
    width: 270px;
    background-color: transparent;
}

.information {
    font-size: 20px;
    height: 35px;
    width: 600px;
    /* background-color: blueviolet; */
    margin-bottom: 15px;
    margin-left: 30px;
    font-weight: bold;

}

.info {
    background-color: #CED7C5;
    font-weight: lighter;
    padding-left: 10px;
    padding-right: 10px;
}

.join-box {
    height: 100px;
    width: 700px;
    /* background-color: #12373A; */
    margin: auto;
    /* margin-top: 20px; */
    display: flex;
    border: 4px solid black;
}

.join {
    font-size: 20px;
    /* background-color: aqua; */
    margin-top: 25px;
    margin-left: 60px;
    text-align: center;
    font-weight: bold;
}

#join-btn {
    height: 40px;
    width: 300px;
    font-size: 25px;
    margin-left: 20px;
    margin-top: 32px;
    background-color: #CED7C5;
    border-radius: 50px;
    text-align: center;
    padding-top: 5px;
    font-weight: bold;
}

.num {
    background-color: #CED7C5
}

.count {
    background-color: #CED7C5;
}
#place{
    font-size: 15px;
    background-color: #CED7C5;
    border-radius: 50px;
    text-align: center;
    border: 2px solid black;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer
}

.popup-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* 40% 투명도 검은색 배경 */
    z-index: 1000;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 650px;
    height: 430px;
    margin-top: -234.5px; /* 팝업 높이의 절반 */
    margin-left: -365px; /* 팝업 너비의 절반 */
    background: white;
    border-radius: 10px;
    padding: 20px;
    z-index: 1001;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}


.popup button {
    margin-right: 10px;
}
#map{
    margin: auto;
    width: 600px;
    height: 400px;
}
#popupButton{
    font-size: 15px;
    background-color: #CED7C5;
    border-radius: 50px;
    text-align: center;
    border: 2px solid black;
    margin-left: 580px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
    cursor: pointer
}