/* Ensure body styles are consistent */
body {
    color: #12373A;
}

/* Center the container */
#container{
    display: flex;
    justify-content: center;
    position: relative;
}

/* Main box for product details */
.funding-box {
    height: 500px;
    width: 1000px;
    margin: auto;
    margin-top: 90px;
    display: flex;
    justify-content: center; /* Center the information-box */
    align-items: center; /* Center vertically */
}

/* Selector position */
#select {
    height: 50px;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 90px;
    position: absolute;
}

/* Style for the information box */
.information-box {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    margin: 50px auto 0 auto;
}

/* List of information aligned to the left */
.information-list {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    margin: 65px auto 0 20px; 
}

/* Style for each piece of information */
.information {
    font-size: 22px;
    height: 35px;
    width: auto;
    margin-bottom: 15px;
    font-weight: bold;
}

.info {
    background-color: #CED7C5;
    font-weight: lighter;
    padding-left: 10px;
    padding-right: 10px;
}

.img {
    height: 260px;
    width: 260px;
    background-color: transparent;
    display: block; 
    margin-left: auto; 
}

.funding-button-container {
    display: flex;
    justify-content: center;
    margin-top: 40px; 
}

.funding-button {
    background-color: #ADBC9F;
    color: #12372A;
    border: 2.5px solid #12372A;
    border-radius: 90px;
    padding: 10px 30px; 
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.funding-button:hover {
    background-color: #12372A;
    color: #ADBC9F;
}
