<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="stylesheet" href="/css/styles.css"> 
    <link rel="stylesheet" href="/css/recipe/searchResult.css">
    <script src="/js/recipe/searchResult.js"></script>
    <title>Welcome to Yorijori</title>
</head>
<body>
    <section>
        <h1>삭제되었습니다</h1>
    </section> 
    <!-- 검색 결과 컨테이너 박스 -->
    <div id="container">
        <h1>요리조리 메인 페이지</h1>
      
    </div>
</body>
</html>