<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Yorijori</title>
</head>
<body>
    <h1>요리조리 메인 페이지입니다</h1>
</body>
</html>
