<!DOCTYPE html>
<html>
<head>
    <title><% 'Welcome to YORIJORI!' %></title>
    <link rel="stylesheet" href="/css/styles.css">    
    <link rel="stylesheet" href="/css/layout.css">
    <script src="https://kit.fontawesome.com/9dd3bbb56c.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div id="logo">요리조리</div>
        <!-- 레시피 및 재료 검색 -->
        <div id="searchBar">
            <form class="searchBar" action="/searchResult" method="get">
                <input class="search-txt" type="text" name="" placeholder="레시피, 재료 검색">
                <button class="search-btn" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
        <!-- 로그인하기 전 회원가입, 로그인 버튼 -->
        <div id="login">
            <div id="signUp"><a href="#">회원가입</a></div>
            <div>&nbsp;|&nbsp;</div>
            <div id="signIn"><a href="#">로그인</a></div>
        </div>
        <!-- 로그인한 후 마이페이지, 글쓰기 버튼 (구현해야 함) -->
    </header>

    <% if (showCategoryBar) { %>
        <%- include('recipe/categoryBar.ejs') %>
    <% } %>    

    <section>
    <%- body %>  <!-- 이곳에서 개별 페이지의 내용이 렌더링됩니다. -->
    </section>

    <footer><p>© 2024 YORIJORI</p></footer>

</body>
</html>