<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/write.css" />
    <link rel="stylesheet" href="../public/css/write.css" />
    <script defer src="../../header/header.js"></script>
  </head>
  <body>
    
    <div class="form">
      <form>
        <div class="write">
          <span class="start-write">"당신만의"</span>
          <div> 레시피 를</div>
          <div> 작성해 주세요</div>
        </div>
        <div class="title">메뉴</div>
        <input
          id="title"
          type="text"
          placeholder=" 메뉴를 입력하세요"
          name="title"
          class="t"
          required
        />
        <div class="title">Title</div>
        <input
          id="title"
          type="text"
          placeholder=" 제목을 입력하세요"
          name="title"
          class="t"
          required
        />
      
        <div class="title">재료검색</div>
        <div class="menu">
          <input
            id="title"
            type="text"
            name="title"
            class="search-menu"
            required
          />
          <div class="menubox"></div>
        </div>
        <div class="title">사진첨부</div>
        <input
	       type = "file"
         accept = "image/*"
          />
        <div class="title">게시글</div>
        <textarea
          id="data"
          placeholder="내용을 입력하세요"
          name="detail"
          class="data"
          required
        >
        </textarea>

        <div><input type="submit" class="submit" value="등록" /></div>
      </form>
    </div>
    <footer>푸터입니다.</footer>
  </body>
</html>
