.funding-box{
    /* position: relative; */
    height: 500px;
    width: 1000px;
    background-color: beige;
    margin: auto;
    /* padding-top: 10px; */
    margin-top: 6%;
    display: flex;
}

.select{
    font-size: large;
    margin-top: 20px;
    margin-left: 200px;
    background-color: aquamarine;
    position: absolute;
}

.information-box{
    position: absolute;
    background-color: bisque;
    margin-left: 200px;
    margin-top: 150px;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center;
}

.information{
    font-size: large;
    height: 30px;
    width: 500px;
    background-color: blueviolet;
    margin-bottom: 10px;
    
}
.info{
    background-color: brown;
}

.button{
    position: absolute;
    font-size: large;
    background-color: aqua;
    margin-left: 800px;
    margin-top: 400px;
}

.item{
    background-color: blue;
}