.information-box{
    height: 550px;
    width: 800px;
    background-color: beige;
    margin: auto;
    margin-top: 200px;
    border-radius: 70px;
    position: relative;
}

.img{
    position: absolute;
    margin-top: 50px;
    background-color: aqua;
    height: 200px;
    width: 200px;
    margin-left: 300px;
    border-radius: 100%;
    text-align: center;
}

.complete{
    position: absolute;
    margin-top: 270px;
    background-color: rgb(107, 25, 104);
    margin-left: 310px;
}

.message{
    position: absolute;
    margin-top: 340px;
    background-color: rgb(107, 25, 104);
    margin-left: 230px;
    text-align: center;
}

.distribution{
    position: absolute;
    margin-top: 450px;
    background-color: rgb(60, 189, 48);
    margin-left: 230px;
}

.button{
    position: absolute;
    margin-top: 500px;
    background-color: rgb(184, 108, 28);
    margin-left: 650px;
}