* {
  margin: 0;
  padding: 0;
}

.write-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.write-form{
    width: 850px;
}
.write-form > div{
    padding-top:60px;
}
.main-title{
    padding: 5px 0;
    display:flex;
    justify-content: center;
}
.title, .top{
  display: flex;
  border-width: 0 0 2px 0;
  border-color: #6C6058;
  border-style: solid; 
  padding:5px 0;
  align-items: center;
  width: 850px;
}
.ingred{
  flex-direction: column;
}
.top, .bottom{
  display: flex;
}
.title > h2, .top > h2{
  width: 130px;
}
select{
  margin-left:20px;
}
/* 
게시물 작성 메인 */
.title-box {
  height: 40px;
  width: 600px;
  text-align: center;
  border: 0;
  outline: none;
}
.result-menu{
  display: none;
  box-sizing: border-box;
  height: 30px;
  width: 600px;
}
.search-menu{
  width: 200px;
  margin-bottom: 20px;
}
/*메뉴 담아오는 박스*/
.ingredi-box{
  margin-left: 200px;
  width: 650px;
  height: 50px;
}
button{
  border:0;
  border-radius: 5px;
  background-color: #FFFBE9;
  color: #6C6058;
}
.search-Menu-button, .search-button{
  margin:0;
  width:60px;
  height: 30px;
  font-size: 20px;
  margin-left: 30px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.submit{
  display: flex;
  position: relative;
  left: 710px;
  width: 135px;
  height: 40px;
  font-size: 25px;
  margin: 100px 0;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
/* 글 작성 박스 */
#empty-box{
  height: 30px;
}
#data {
  box-sizing: border-box;
  resize: none;
  margin-bottom: 10px;
  border: 1px solid #416558;
}
header,footer {
  display: flex !important;
  z-index: 1;
}
::placeholder{
  font-size: 15px;
  text-align: center;
}
.note-placeholder {
  font-size: 15px;
}
select{
  height: 35px;
}
option{
  font-size: 15px;
}
h2{
  margin:0;
  color: #B5AFAC;
}