<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= category %> Posts</title>
    <link rel="stylesheet" href="/css/recipe/styles.css">
</head>
<body>

    <% if (category === 'meat') { %>
        <h1>고기류</h1>
        <div class="category-bar">
            <button onclick="window.location.href='/meat/all'">전체</button>
            <button onclick="window.location.href='/meat/beef'">소고기</button>
            <button onclick="window.location.href='/meat/pork'">돼지고기</button>
        </div>
    <% } %>
    
    <% if (category === 'vegetable') { %>
        <h1>채소류</h1>
        <div class="category-bar">
            <button onclick="window.location.href='/vegetable/all'">전체</button>
            <button onclick="window.location.href='/vegetable/onion'">양파</button>
            <button onclick="window.location.href='/vegetable/lettuce'">양상추</button>
        </div>
    <% } %>

    <div class="gallery">
        <% if(posts.length > 0) { %>
            <% posts.forEach(post => { %>
                <div class="recipe-card">
                    <!-- <img src="<%= post.imageUrl %>" alt="postImage" class="recipe-image"> -->
                    <!-- <img src="postImage.png" alt="postImage"> -->
                    <h2><%= post.title %></h2>
                    <p>주재료: <%= post.ingredients %></p>
                </div>
            <% }); %>
        <% } else { %>
            <p>No posts available for this category.</p>
        <% } %>
    </div>
</body>
</html>